/* =========== COMMON STYLES =========== */
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

/* =========== HEADER STYLES =========== */
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-studio {
  color: #f4f4fd;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.page-adress {
  font-style: normal;
}

.page-adress-list-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-adress-list-item:hover,
.page-adress-list-item:focus {
  color: #404bbf;
}

/* =========== HERO STYLES =========== */
.hero {
  background: #2e2f42;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.order-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* =========== BENEFITS STYLES =========== */
.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =========== OUR TEAM STYLES =========== */
.our-team {
  background: #f4f4fd;
}

.our-team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #ffffff;
}

.our-team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* =========== PORTFOLIO STYLES =========== */
.portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* =========== FOOTER STYLES =========== */
.page-footer {
  background: #2e2f42;
}

.page-footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
