/* =========== COMMON STYLES =========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* =========== HEADER STYLES =========== */
.page-header-container {
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.menu {
  display: flex;
  column-gap: 40px;
}

.text-studio-header {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.page-adress {
  font-style: normal;
}

.page-adress-list {
  display: flex;
  column-gap: 40px;
}

.page-adress-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-adress-link:hover,
.page-adress-link:focus {
  color: #404bbf;
}

/* =========== HERO STYLES =========== */
.hero {
  background-color: #2e2f42;
  max-width: 1440px;
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
  padding-left: 334px;
  padding-right: 334px;
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}

.order-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* =========== BENEFITS STYLES =========== */
.benefits-list {
  display: flex;
  column-gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72) / 4);
}

.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =========== OUR TEAM STYLES =========== */
.our-team {
  background-color: #f4f4fd;
}

.our-team-list {
  display: flex;
  column-gap: 24px;
}

.our-team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72) / 4);
}

.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-top: 164px;
  padding-left: 16px;
  padding-right: 16px;
}

.our-team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}

/* =========== PORTFOLIO STYLES =========== */
.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 48) / 3);
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-left: 16px;
}

/* =========== FOOTER STYLES =========== */
.page-footer {
  background-color: #2e2f42;
  max-width: 1440px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-studio-footer {
  color: #f4f4fd;
}

.page-footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  padding-top: 16px;
}
